/*-------------- top-block -----------------*/
.top-block{
	background: #febd43;
	position: relative;
	padding: 110px 0 0;
	margin-bottom: 227px;

	&::before{
		content: '';
		display: block;
		width: 1092px;
		height: 628px;
		max-width: 100%;
		max-height: 100%;
		background: url(../img/girl-desktop.png) no-repeat center bottom;
		background-size: contain;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__info{max-width: 40%;}

	&__title{
		@include font(normal, bold, 4.8rem, 1.2, $color-text);
	}

	&__text{
		@include font(normal, 300, 2rem, 1.75, $color-text);
		margin-top: 28px;
	}

	&__label{
		@include font(normal, bold, 2rem, 1.2, $color-text);
		text-transform: uppercase;
		margin-top: 22px;
	}

	.form-calc{
		margin-top: 100px;
		margin-bottom: -130px;
	}
}

@media (max-width: 991px) {
	.top-block{
		padding-top: 10px;

		&__info{max-width: 100%;}

		&::before{
			width: 100%;
			height: 224px;
			background: url(../img/girl-mobile.png) no-repeat center;
			position: relative;
            top: 20px;
            margin-bottom: 20px;
		}

		.form-calc{margin-top: 50px;}
	}
}

@media (max-width: 767px) {
	.text-block-wrap{
		margin-top: 30px;
		padding: 48px 0;
	}

	.top-block{
		padding-top: 0;
		margin-bottom: 284px;

		&__title{font-size: 2.8rem;}

		.form-calc{
			margin-top: 30px;
			margin-bottom: -245px;
		}
	}
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.top-block::before{
		background:  url(../img/girl-mobile2x.png) no-repeat center;
		background-size: contain;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.top-block::before{
		background:  url(../img/girl-mobile2x.png) no-repeat center;
		background-size: contain;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.top-block::before{
		background:  url(../img/girl-mobile2x.png) no-repeat center;
		background-size: contain;
	}
}