/*-------------- top-block -----------------*/
.top-block{
	background: #febd43;
	position: relative;
	padding: 110px 0 0;
	margin-bottom: 227px;

	&::before{
		content: '';
		display: block;
		width: 1430px;
		height: 656px;
		max-width: 100%;
		max-height: 100%;
		background: url(../img/girl-desktop.jpg) no-repeat center bottom;
		background-size: cover;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__info{max-width: 40%;}

	&__title{
		@include font(normal, bold, 4.8rem, 1.2, $color-text);
	}

	&__text{
		@include font(normal, 300, 2rem, 1.75, $color-text);
		margin-top: 28px;
	}

	&__label{
		@include font(normal, bold, 2rem, 1.2, $color-text);
		text-transform: uppercase;
		margin-top: 22px;
	}

	.form-calc{
		margin-top: 100px;
		margin-bottom: -130px;
	}
}