extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block
		.container
			.row
				.col-12
					.top-block__info
						.top-block__title Займы онлайн в&nbsp;Северодвинске
						.top-block__text Получить деньги без справок и поручителей легко и просто!
						.top-block__label Снижаем ставку для всех!

					form.form-calc
						.form-calc__fields
							.form-calc__item
								.range.js-range
									.range__top
										span.range__title Сумма займа: 
										span.range__val <span class="js-range-val" data-text="руб."></span>
									input(type='text' name='prices' data-provide='slider' data-slider-min='1000' data-slider-max='30000' data-slider-step='1' data-slider-value='5000' data-slider-tooltip="hide" class="js-range-input")

									.range__scale
										.range__min.js-range-min
										.range__max.js-range-max

							.form-calc__item
								.range.js-range(data-note='true')
									.range__top
										span.range__title Срок займа: 
										span.range__val <span class="js-range-val" data-text="день"></span>
									input(type='text' name='days' data-provide='slider' data-slider-min='10' data-slider-max='32' data-slider-step='1' data-slider-value='25' data-slider-tooltip="hide" class="js-range-input" )

									.range__scale
										.range__min.js-range-min
										.range__max.js-range-max

						.form-calc-res
							.form-calc-res__label Всего к возврату
							.form-calc-res__price 5170
								span.form-calc-res__currency руб

							input.btn(type="submit", value="Продолжить")

	section.steps
		.container
			.row
				.col-12
					.h1 Как оформить займ?

					.step-list
						-
							var list=[
								{icon:'ic-hand', icon_width:'18', icon_height:'35', text:'Оставьте онлайн-заявку'},
								{icon:'ic-compass', icon_width:'30', icon_height:'30', icon_color:'light-red', text:'Дождитесь одобрения'},
								{icon:'ic-copy', icon_width:'21', icon_height:'28', icon_color:'yellow', text:'Подпишите договор'},
								{icon:'ic-money', icon_width:'38', icon_height:'26', icon_color:'green', text:'Получите деньги'},
							]

						each item in list
							.step-list__item
								.step-list__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)

								.step-list__text= item.text