html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, 300, 10px, 1.75, $color-text);
	box-sizing:border-box;
	min-height:100%;
}

body{font-size: 1.6rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-green;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 4rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.4;
	color: $color-text;
}

h1,.h1{
	font-size: 3.8rem;
	font-weight: bold;
	margin-bottom: 6rem;
}

h2,.h2{
	font-size: 2.6rem;
	font-weight: bold;
	margin-bottom: 3.2rem;
}

h3,.h3{
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h4,.h4{
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
}

h5,.h5{
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

ul, ol{list-style-position: inside;}

ul li{
	position: relative;
	list-style: none;

	&::before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $color-red;
		margin-right: 10px;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 76px;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: 4.6rem;
	background: $color-red;
	border: 0;
	border-radius: 2.3rem;
	@include font(normal, 500, 1.4rem, 4.4rem, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 32px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	background: $color-dark-red;
}


.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}